// Body
body {
    background-color: #a4a2a2;
    background-image: linear-gradient(19deg, #a4a2a2 0%, #000000 100%);
    color: $textColor;
    height: 100%;
    padding: 0 15px 15px 15px;
   
}


button {
    margin-left: 20px;
    margin-top: 20px;
}

#dropdown-basic {
    background-color: purple;
    border-color: purple;
}