// Footer
footer {
    border-top: 2px solid rgba(rgb(255, 0, 0), 0.6);
    padding: em(10);
    margin: 20px 20px 0 20px;
    
    p {
        margin: 0;
    }    
}

.logo-footer {
    width: 30px;
}

.name {
    text-align: center;
}