// Movies
.movies-container, .movie-card-favs {
    padding: em(12);

    @include mq($tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: em(14);
    }

    @include mq($desktop){
        padding: em(20);
        grid-template-columns: 1fr 1fr 1fr;
        gap: em(18);
    }

    

}

@media only screen and (max-width: 1300px) {
    .movies-container, .movie-card-favs {
        padding: em(20);
        grid-template-columns: 1fr 1fr;
        gap: em(18);
    }
    
  }

  @media only screen and (max-width: 950px) {
    .movies-container, .movie-card-favs {
        padding: em(20);
        grid-template-columns: 1fr;
        gap: em(18);
    }
    
   
  }

@media only screen and (max-width: 730px) {
    .movies-container, .movie-card-favs {
        padding: em(20);
        grid-template-columns: 1fr;
        gap: em(18);
    }  
  }

.movie-card, .movie-card-favs {
    background-color: rgba(black, 0.3);
    border: em(3) solid $textColor;
    border-top: 2px solid rgba(rgb(255, 0, 0), 0.6);
    padding: em(10);
    margin-bottom: em(16);
    display: flex;
    padding-bottom: 30px;
  

    img {               
        padding: 20px;       
    }

    @include mq($tablet){
        margin-bottom: 0;
        
    }
}
  
.movie-info {    
   padding-top: 20px;
}

a {
    text-decoration: none;
    font-weight: 600;
}

.more-info {                         
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;    
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;   
    width: 90%;             
}
.more-info:hover,
.more-info:focus,
.more-info:active, 
.delete-button:hover,
.delete-button:focus,
.delete-button:active,
.delete-button2:hover,
.delete-button2:focus
.delete-button2:active,
.add-button:hover,
.add-button:focus
.add-button:active {
  opacity: .55;      
}

.add-button:active, .add-button:visited {
    color: blue;
    background-color: blue;
}

.delete-button2:active, .delete-button:active {
    color: black;
    background-color: black;
}

.more-info > a {
    text-decoration: none;
}

.card-control {
    display:inline-block;
    position:relative;         
}

.delete-button {                         
    background-color: rgb(224, 22, 22);
    margin-left: 20px;    
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;    
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;    
    max-width: 80px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    border-radius: 30px;    
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;        
    position: absolute;
    bottom: 8em;
    right:13em;
    text-transform:uppercase;
    padding:1em 1.5em;
    
}

.delete-button2 {
    background-color: rgb(224, 22, 22);     
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;    
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;    
    max-width: 80px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    border-radius: 30px;    
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;               
    text-transform:uppercase;
    padding:1em 1.5em;
    margin: 0 auto;
}

.add-button {
    background-color: rgb(22, 224, 113);     
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;    
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;    
    max-width: 80px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    border-radius: 50px;    
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;               
    text-transform:uppercase;
    padding:1em 1.5em;    
}


.single-movie-page {
    display: flex;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;    
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items:center;
    padding: 40px;
}

.single-page-header-text {
    color: rgb(48, 45, 45);
    font-weight: 600;
    
}

.single-movie-poster {    
    border: 1px solid white;
}

.single-movie-body {
    width: 50%;
    margin-left: 40px;
}

.about-page-wrapper {
    padding: 50px 60px 50px 60px;
    display: flex;
    height: 100vh;
}

.about-moviemania {
       
    font-weight: 900;
    font-size: 50px;
    background: #5990CF;
    background: -webkit-linear-gradient(to left, #5990CF 0%, #B6CF11 100%);
    background: -moz-linear-gradient(to left, #5990CF 0%, #B6CF11 100%);
    background: linear-gradient(to left, #5990CF 0%, #B6CF11 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-project, .about-ipsum {
    width: 47%;
    padding: 10px;
}

.not-endorsed {
    text-decoration: underline;
}

#logo {
    width: 80%;
}

@media only screen and (max-width: 1670px) {
    .delete-button {
        position: absolute;
        bottom: 6em;
        right:10em;
    }  
  }

  @media only screen and (max-width: 1501px) {
    .delete-button {
        position: absolute;
        bottom: 6em;
        right:9em;
    }  
  }

  
  @media only screen and (max-width: 1280px) {
    .delete-button {
        position: absolute;
        bottom: 8em;
        right:12em;
    }  
  }

  @media only screen and (max-width: 1024px) {
    .delete-button {
        position: absolute;
        bottom: 6em;
        right:9em;
    }  
  }

@media only screen and (max-width: 950px) {
    .delete-button {
        position: absolute;
        bottom: 12em;
        right:18em;
    }  
  }

  @media only screen and (max-width: 865px) {
    .delete-button {
        position: absolute;
        bottom: 12em;
        right:17em;
    }

    .single-movie-page {
        display: block;              
    }

    .single-movie-body {
        width: 100%;        
        text-align: left;        
        margin: 0 auto;
    }
  }
  @media only screen and (max-width: 776px) {
    .about-page-wrapper {
        padding: 10px;
        width: 100%;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
       
    }
    .about-moviemania {
        font-size: 30px;
    }
    .about-project, .about-ipsum {
        width: 100%;
    }
  }

  @media only screen and (max-width: 736px) {
    .delete-button {
        position: absolute;
        bottom: 8em;
        right:12em;
    }  
  }


  
  @media only screen and (max-width: 637px) {
    .delete-button {
        position: absolute;
        bottom: 13em;
        right:20em;
        
    }
    .movie-card-favs {
        display: block;
    }
    .movie-card {
        display: block;
    }

  }

  @media only screen and (max-width: 572px) {
    .delete-button {
        position: absolute;
        bottom: 10em;
        right:15em;
    }  
  }

  @media only screen and (max-width: 505px) {
    .delete-button {
        position: absolute;
        bottom: 7em;
        right:10em;
    }  
  }
  @media only screen and (max-width: 427px) {
    .delete-button {
        position: absolute;
        bottom: 8em;
        right:12em;
    }
    .add-button, .delete-button2 {
        margin: 0 auto;
    }  
  }
  @media only screen and (max-width: 375px) {
    .delete-button {
        position: absolute;
        bottom: 6em;
        right:10em;
    }
    .add-button, .delete-button2 {
        margin: 0 auto;
    }  
  }


  


